<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput name="sku" [(ngModel)]="product.sku" placeholder="SKU">
        </mat-form-field>
        <mat-form-field>
            <input matInput name="nome" [(ngModel)]="product.nome" placeholder="Nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput name="descricao" [(ngModel)]="product.descricao" placeholder="Descricão">
        </mat-form-field>
        <mat-form-field>
            <input matInput name="preco" [(ngModel)]="product.preco" placeholder="Preço (R$)">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" name="quantidade" [(ngModel)]="product.quantidade" placeholder="Quantidade">
        </mat-form-field>
    </form>
    
    <button mat-raised-button (click)="productCreate()" color="primary">Salvar</button>
    <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>